* {
    padding: 0;
    margin: 0;
}

div, p {
    border: 1px solid rgb(230, 230, 230)
}

.indexbtn {
    width: 300px;
    height: 70px;
}

.appbody {
    height: 70vh;
}

header, footer {
    height: 10vh;
}

.txt {
    height: 8vh;
    margin: 2vh 0 0 0;
}
